* {
    margin: 0;
    font-size: 20px;
}

.base_css {
    background-color: lightgreen;
    height: auto;
    width: 500px;
    padding: 10px 5px;
}

.base_css > * {
    margin: 2px;
    padding: 2px;
    border: 1px solid purple;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    background-color: rgb(219, 219, 255);
}

.base_css > *:hover {
    background-color: white;
    color: darkgreen;
}

div:first-child {
    color: red;
    height: 40px;
}

div:nth-child(3) {
    color: yellow;
    background: black;
}
















